* {
  box-sizing: border-box;
}
html, body {
  background-color: rgb(18, 18, 18);
  font-family: Arial;
  margin: 0;
  padding: 0;
  text-align: center;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.title-box {
  background-color: rgb(5, 5, 5);
  width: 620px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  align-items: center;
  margin-bottom: 20px;
}
.title {
  text-align: center;
  display: inline-block;
  font-size: 40px;
  color: white;
}
.icon {
  transform: translateY(20%);
  display: inline-block;
  border-radius: 25px;
}
.content {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
  color: white;
  background-color: rgb(5, 5, 5);
  padding: 20px;
  border: none;
  border-radius: 40px;
}
.input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(155, 155, 155);
    height: 35px;
}
::placeholder {
  color: rgb(18, 18, 18);
  opacity: 1;
  font-size: 13px;
}
.add-btn {
  padding: 10px;
  background-color: rgb(76, 175, 80);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s;
}
.add-btn:hover {
  background-color: rgb(102, 179, 105);
}
.add-btn:active {
  background-color: rgb(129, 193, 131);
}
.draw-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(76, 175, 80);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.15s;
  margin-top: 10px;
}
.draw-btn:hover {
  background-color: rgb(102, 179, 105);
  padding-left: 35px;
  padding-right: 35px;
}
.draw-btn:active {
  background-color: rgb(129, 193, 131);
}
.names {
  margin-top: 6px;
}
.result {
  margin-top: 20px;
}

/*Loading icon*/
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  /*mobile and tablet mode */
  @media only screen and (max-width: 700px) {
    .title-box {
        width: auto;
    }
    .icon {
        margin: auto;
        display:block;
    }
    .title {
        font-size: 30px;
    }
    .content {
        width: 300px;
        padding-left: 10px;
        padding-right: 10px;
    }

}