* {
    box-sizing: border-box;
}
html, body {
    background-color: rgb(18, 18, 18);
    font-family: Arial;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.title-box {
    background-color: rgb(5, 5, 5);
    width: 700px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    align-items: center;
    padding-left: 12px;
}
.title {
    text-align: center;
    display: inline-block;
    font-size: 40px;
    color: white;
}
.icon {
    transform: translateY(20%);
    display: inline-block;
    border-radius: 25px;

}
.content {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    color: white;
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    border-radius: 40px;
}

.download-btn {
    text-align: center;
    background-color: rgb(203, 30, 30);
    color: white;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6px;
    padding-left: 6px;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s;
}
.download-btn:hover {
    background-color: rgb(0, 46, 98);
    box-shadow: rgb(0, 46, 98) 2px 2px 22px;
}
.download-btn:active {
    opacity: 0.5;
}
.alt {
    font-size: 25px;
    display: inline-block;
}
.altp {
    display: inline-block;
}
.download-link {
    display: inline-block;
    color: #f8f8f8;
    font-size: 25px;
    text-decoration: none;
}
.download-link:hover {
    color: #ffca28;
}
table {
    color: white;
}

@media only screen and (max-width: 700px) {
    .title-box {
        width: auto;
    }
    .icon {
        margin: auto;
        display:block;
    }
    .title {
        font-size: 30px;
    }
    .content {
        width: 300px;
        height: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    .download-btn {
        width: 200px;
    }

}