*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a{
	text-decoration: none;
}

body{
	font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/*content*/
.content-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.logo-img {
    width: 500px;
    margin-bottom: 20px;
}
.search-bar {
    border: 1px solid lightgray;
    width: 600px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.search-bar:hover{
	box-shadow: 0px 0px 4px 0px #B5B5B5;
}
.search-bar i {
    font-size: 18px;
    color: gray;
    margin-right: 15px;
    cursor: pointer;
}
.search-bar input {
    flex-grow: 1;
    height: 30px;
    margin-right: 15px;
    font-size: 16px;
    border: none;
}
.search-bar input:focus {
    outline: none;
}

.search-btns {
    margin-top: 20px;
}

.search-btns button {
    height: 40px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    color: black;
    background-color: rgb(248, 249, 250);
    vertical-align: top;
}
.search-btns button:hover {
    border: 1px solid #dadce0;
    background-color: #f8f9fa;
    box-shadow: 0 1 1 rgba(0,0,0,0.1);
}
.search-btns button:active {
    border: 1px solid rgb(66, 133, 244);
}
.google-search-btn {
    width: 120px;
}
.lucky-search-btn {
    width: 120px;
}
.language {
    margin-top: 20px;
    font-size: 14px;
}

.language p a {
    color: blue;
}
/*footer */
footer {
    background-color: #F2F2F2;
    height: 50px;
}

.footer-content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.upper-footer {
    height: 50%;
    border-bottom: 1px solid lightgray;
}
.upper-footer p {
    color: gray;
    font-size: 14px;
}


/*mobile and tablet mode */
@media only screen and (max-width: 650px) {
/* Navbar */
 .navbar ul {
        font-size: 10px;
    }
	
.menu-icon,
    .user-icon span {
        font-size: 14px;
    }

/*logo*/
.logo-img {
        width: 300px;
    }
 /* Search Bar */
    .search-bar {
        width: 100%;
        height: 35px;
    }

    .search-bar i {
        font-size: 14px;
    }	
/* Buttons */
.search-btns button {
        height: 30px;
        font-size: 12px;
}
 .google-search-btn {
        width: 100px;
    }

.lucky-search-btn {
        width: 120px;
    }
 /* Language */
 .language {
        font-size: 12px;
    }
/*footer */
footer {
        height: 50px;
    }

    .upper-footer {
        height: 50px;
    }

}



	
	




